.use-navbar {
  height: 4.5rem;
  width: 100%;
  display: flex;
  background-color: #333;
  user-select: none;

  > a {
    margin-right: auto;
    text-decoration: none;

    .left {
      height: 100%;
      display: flex;
      align-items: center;

      > img {
        height: 100%;
        aspect-ratio: 1/1;
        margin-right: 1rem;
      }

      > h1 {
        font-size: 2rem;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;

    > a {
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 1rem;
      }

      > button {
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        transition: background-color 100ms, border-color 0.1s;
        background-color: #2285df;
        font-size: 1rem;
        cursor: pointer;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.75rem;

        &:hover {
          background-color: #3295ef;
        }

        &:active {
          background-color: #1275cf;
        }
      }
    }
  }
}